<table class="table">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Wert</th>
        </tr>
    </thead>
    <tbody>
        {% if mqtt_data %}
            {% for topic, message in mqtt_data.items()|sort %}
                {% if not topic.startswith('setting_') and topic != 'send_settings' and topic != 'send_settings_payload' %}
                <tr>
                    <td>{{ topic }}</td>
                    <td>{{ message }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">Warte auf MQTT Daten oder noch keine Daten empfangen...</td>
            </tr>
        {% endif %}
    </tbody>
</table>